@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');
:root {
	/* font-family */
	--ff-bar-reg: 'Barlow', sans-serif;
	--ff-bar-con: 'Barlow Condensed', sans-serif;
	--ff-belle: 'Bellefair', serif;

	/* letter-spacing */
	--spacing-big: 2.7px;

	/* font-size */
	--fs-900: 80px;
	--fs-800: 56px;
	--fs-700: 24px;
	--fs-600: 20px;
	--fs-500: 16px;
	--fs-400: 15px;
	--fs-300: 14px;

	--fs-role: 16px;
	--fs-nav: 16px;

	/* color */
	--clr-main-bg: 11, 13, 23;
	--clr-text-blue: 208, 214, 249;
	--clr-text-white: 255, 255, 255;
}
@media (min-width: 550px) {
	:root {
		--spacing-big: 3.38px;

		--fs-900: 150px;
		--fs-800: 80px;
		--fs-700: 40px;
		--fs-600: 25px;
		--fs-500: 20px;
		--fs-400: 16px;
		--fs-300: 16px;

		--fs-role: 24px;
		--fs-nav: 14px;
	}
}

@media (min-width: 800px) {
	:root {
		--spacing-big: 4.72px;

		--fs-900: 150px;
		--fs-800: 100px;
		--fs-700: 56px;
		--fs-600: 32px;
		--fs-500: 28px;
		--fs-400: 18px;

		--fs-role: 32px;
		--fs-nav: 16px;
	}
}
.bg-dark {
	background-color: rgb(var(--clr-main-bg));
}
.bg-blue {
	background-color: rgb(var(--clr-text-blue));
}
.bg-white {
	background-color: rgb(var(--clr-text-white));
}
.text-dark {
	color: rgb(var(--clr-main-bg));
}
.text-blue {
	color: rgb(var(--clr-text-blue));
}
.text-white {
	color: rgb(var(--clr-text-white));
}
.uppercase {
	text-transform: uppercase;
}
/* -------------- */
/*      Reset     */
/* -------------- */

*,
*::after,
*::before {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
	margin: 0;
	font-weight: 400;
}

img,
picture {
	max-width: 100%;
	display: block;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: inherit;
}
a {
	text-decoration: none;
	color: inherit;
}

/* ---------------- */
/*  utility classes */
/* ---------------- */
.flow > *:where(:not(:first-child)) {
	margin-top: var(--flow-space, 1rem);
}

.flex {
	display: flex;
	gap: var(--gap, 1em);
}

.main-title {
	font-size: var(--fs-500);
	letter-spacing: var(--spacing-big);
	font-family: var(--ff-bar-con);
	text-transform: uppercase;
}
.main-paragraph {
	font-family: var(--ff-bar-reg);
	font-size: var(--fs-400);
	text-transform: lowercase;
	line-height: 1.7;
}
.main-title span {
	color: rgba(var(--clr-text-white), 0.25);
	font-weight: 700;
	margin-right: 1.75rem;
}
